<!doctype html>
<html id="app">
<head> 
    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>账号与个人信息管理</title>  	
		<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"/>
		<link rel="apple-touch-icon" href="apple-touch-icon.png">		
		<script type="text/javascript">
			(function() {
			    var newRem = function() {
			        var html = document.documentElement;
			        html.style.fontSize = html.getBoundingClientRect().width / 37.5 + 'px';
			    };
			    window.addEventListener('resize', newRem, false);
			    newRem();
			})();
		</script>
</head>

<body bgcolor=white lang=ZH-CN style='tab-interval:21.0pt;text-justify-trim:
punctuation'>

<div class=WordSection1 style='layout-grid:15.6pt'>

<p class=MsoNormal style='line-height:200%;mso-pagination:widow-orphan'><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:orangered;background:white'>账号安全</span><span
lang=EN-US style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:200%;mso-pagination:widow-orphan;
tab-stops:12.0pt'><span lang=EN-US style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'><span style='mso-tab-count:1'>&nbsp;&nbsp; </span>1.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>用户须自行负责账号和密码的安全，且须对在该账号下的所有行为（包括但不限于发布需求和技能信息，网上点击同意各类协议、规则等）承担责任。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:200%;mso-pagination:widow-orphan;
tab-stops:12.0pt'><span lang=EN-US style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'><span style='mso-tab-count:1'>&nbsp;&nbsp; </span>2.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>用户有权根据需要更改账号密码。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:200%;mso-pagination:widow-orphan;
tab-stops:12.0pt'><span lang=EN-US style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'><span style='mso-tab-count:1'>&nbsp;&nbsp; </span>3.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>因自身原因或其他非归于</span><span
style='font-size:11.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:-webkit-standard;color:#595959;mso-themecolor:text1;
mso-themetint:166;background:#F7F7F7'>链活</span><span style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:#666666;background:white'>平台的原因所进行的行为导致的任何损失由用户自行承担，该行为包括但不限于：</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p style='margin-left:21.0pt;text-indent:21.0pt;line-height:200%;mso-pagination:
widow-orphan'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>a.</span><span
style='font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'>不按照交易提示操作；</span><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#666666'><o:p></o:p></span></p>

<p style='margin-left:21.0pt;text-indent:21.0pt;line-height:200%;mso-pagination:
widow-orphan'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>b.</span><span
style='font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'>在</span><span style='font-size:11.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:-webkit-standard;
color:#595959;mso-themecolor:text1;mso-themetint:166;background:#F7F7F7'>链活</span><span
style='font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'>之外的平台上进行交易；</span><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#666666'><o:p></o:p></span></p>

<p style='margin-left:21.0pt;text-indent:21.0pt;line-height:200%;mso-pagination:
widow-orphan'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>c.</span><span
style='font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'>遗忘或泄露密码；</span><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#666666'><o:p></o:p></span></p>

<p style='margin-left:21.0pt;text-indent:21.0pt;line-height:200%;mso-pagination:
widow-orphan'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>d.</span><span
style='font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'>密码被他人破解；</span><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#666666'><o:p></o:p></span></p>

<p style='margin-left:21.0pt;text-indent:21.0pt;line-height:200%;mso-pagination:
widow-orphan'><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>e.</span><span
style='font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'>用户使用的计算机被他人侵入。</span><span lang=EN-US style='font-family:
"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:200%;mso-pagination:widow-orphan;
tab-stops:18.0pt'><span lang=EN-US style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'><span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp; </span>4.</span><span
lang=EN-US style='font-size:11.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:-webkit-standard;color:black;background:#F7F7F7'> </span><span
style='font-size:11.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:-webkit-standard;color:#595959;mso-themecolor:text1;
mso-themetint:166;background:#F7F7F7'>链活</span><span style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:#666666;background:white'>平台的用户名对应的是一个用户的个人账号，同时还和用户的实际身份、</span><span
style='font-size:11.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:-webkit-standard;color:#595959;mso-themecolor:text1;
mso-themetint:166;background:#F7F7F7'>链活</span><span style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:#666666;background:white'>账户、用户个人在约单平台上的行为，以及交易记录相关联，约单平台会对用户资料严格保密。账号密码等重要信息，用户自身需保存好，不外露、以保障您的账户资金和财产安全。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:200%;mso-pagination:widow-orphan'><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:orangered;background:white'>手机收不到验证码？</span><span
lang=EN-US style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal style='text-indent:6.0pt;mso-char-indent-count:.5;
line-height:200%;mso-pagination:widow-orphan;tab-stops:18.0pt'><span
lang=EN-US style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp; </span>1.</span><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'>请核对手机号码是否正确。</span><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:200%;mso-pagination:widow-orphan;
tab-stops:18.0pt'><span lang=EN-US style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'><span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp; </span>2.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>验证码自发送起<span
lang=EN-US>10</span>分钟内有效，由于短信网关的不同，接收短信可能遇到延迟，请耐心等待。</span><span lang=EN-US
style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:200%;mso-pagination:widow-orphan;
tab-stops:18.0pt'><span lang=EN-US style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'><span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp; </span>3.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>可能运营商网络通道堵塞，请更换时间段重新尝试。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:200%;mso-pagination:widow-orphan;
tab-stops:18.0pt'><span lang=EN-US style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'><span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp; </span>4.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>可以尝试语音验证码进行验证。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:200%;mso-pagination:widow-orphan;
tab-stops:18.0pt'><span lang=EN-US style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'><span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>如果以上情况都没有问题，请联系约单客服进行解决。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:200%;mso-pagination:widow-orphan'><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:orangered;background:white'>如何修改登录密码？</span><span
lang=EN-US style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:200%;mso-pagination:widow-orphan;
tab-stops:18.0pt'><span lang=EN-US style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'><span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp; </span>1.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>登录</span><span
style='font-size:11.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:-webkit-standard;color:#595959;mso-themecolor:text1;
mso-themetint:166;background:#F7F7F7'>链活</span><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>APP</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>平台后，进入“个人中心”—“系统设置”—“修改密码”里设置一个新密码，点击“完成”按钮，完成密码修改。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:200%;mso-pagination:widow-orphan;
tab-stops:18.0pt'><span lang=EN-US style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'><span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp; </span>2.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>手机客户端在初始登录页面时，通过点击“忘记密码”进行密码找回。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:200%;mso-pagination:widow-orphan'><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:orangered;background:white'>注册后如何更改用户名？</span><span
lang=EN-US style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal style='text-indent:21.0pt;line-height:200%;mso-pagination:
widow-orphan'><span style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>用户名是您</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#595959;mso-themecolor:text1;mso-themetint:166;
background:white'>在</span><span style='font-size:11.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:-webkit-standard;
color:#595959;mso-themecolor:text1;mso-themetint:166;background:#F7F7F7'>链活</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>平台上的身份标识，为保证交易信息真实可靠，一旦注册成功后，就无法再更改。如有特殊情况，</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666'>请联系客服邮箱<span lang=EN-US>821510504@qq.com</span>申请修改。<span
lang=EN-US style='background:#D9D9D9;mso-shading:white;mso-pattern:gray-15 auto'><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%;mso-pagination:widow-orphan'><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:orangered;background:white'>手机换号了怎么办？</span><span
lang=EN-US style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal style='text-indent:21.0pt;line-height:200%;mso-pagination:
widow-orphan'><span style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>为了保障您的资金安全，暂不支持更换手机号。如遇特殊情况（手机号丢失，使用者变更等）变更，</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666'>请联系客服邮箱<span lang=EN-US>821510504@qq.com</span>申请修改<span
style='background:white'>。</span><span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%;mso-pagination:widow-orphan'><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:orangered;background:white'>手机号被他人注册？</span><span
lang=EN-US style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal style='text-indent:21.0pt;line-height:200%;mso-pagination:
widow-orphan'><span style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666'>请提供相关证明到客服邮箱<span lang=EN-US>821510504@qq.com</span>，申请客服处理<span
style='background:white'>。</span><span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%;mso-pagination:widow-orphan'><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:orangered;background:white'>可以注销账号吗？</span><span
lang=EN-US style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal style='text-indent:21.0pt;line-height:200%;mso-pagination:
widow-orphan'><span style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>目前</span><span
style='font-size:11.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:-webkit-standard;color:#595959;mso-themecolor:text1;
mso-themetint:166;background:#F7F7F7'>链活</span><span style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:#666666;background:white'>平台不支持账号注销，若你不想再使用链活账号，不登录不使用即可。同时您可以进行如下操作：</span><span
lang=EN-US style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:200%;mso-pagination:widow-orphan;
tab-stops:36.0pt'><span lang=EN-US style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'><span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>1.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>删除您在</span><span
style='font-size:11.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:-webkit-standard;color:#595959;mso-themecolor:text1;
mso-themetint:166;background:#F7F7F7'>链活</span><span style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:#666666;background:white'>平台上的一切信息，如：技能信息、需求信息、相册等。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:200%;mso-pagination:widow-orphan;
tab-stops:36.0pt'><span lang=EN-US style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'><span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>2.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>回复<span lang=EN-US>T</span>进行短信退订。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:200%;mso-pagination:widow-orphan;
tab-stops:36.0pt'><span lang=EN-US style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'><span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>3.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>在“个人中心”<span
lang=EN-US>-</span>“控制中心”设置勿扰时段、关闭声音通知、开启隐身接单。</span><span lang=EN-US
style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:200%;mso-pagination:widow-orphan'><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:orangered;background:white'>为什么账号被禁用或被封？</span><span
lang=EN-US style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal style='text-indent:21.0pt;line-height:200%;mso-pagination:
widow-orphan'><span style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>请参考《</span><span
style='font-size:11.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:-webkit-standard;color:#595959;mso-themecolor:text1;
mso-themetint:166;background:#F7F7F7'>链活</span><span style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:#666666;background:white'>使用协议》《</span><span style='font-size:11.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:-webkit-standard;
color:#595959;mso-themecolor:text1;mso-themetint:166;background:#F7F7F7'>链活</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>平台审核规范》的操作行为，对于违规操作及不正当交易等行为，</span><span
style='font-size:11.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:-webkit-standard;color:#595959;mso-themecolor:text1;
mso-themetint:166;background:#F7F7F7'>链活</span><span style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:#666666;background:white'>平台会根据违规情节大小给予相应处理，请注意自己的一切言行，规范使用</span><span
style='font-size:11.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:-webkit-standard;color:#595959;mso-themecolor:text1;
mso-themetint:166;background:#F7F7F7'>链活</span><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>app</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>。</span><span
lang=EN-US style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:200%;mso-pagination:widow-orphan'><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:orangered;background:white'>单次禁用时间是多久？</span><span
lang=EN-US style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal style='text-indent:21.0pt;line-height:200%;mso-pagination:
widow-orphan'><span style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>单次禁用时间为<span
lang=EN-US>7</span>天，<span lang=EN-US>7</span>天后自动解封，连续禁用三次会自动封号。</span><span
lang=EN-US style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:200%;mso-pagination:widow-orphan'><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:orangered;background:white'>如何上传照片？</span><span
lang=EN-US style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:200%;mso-pagination:widow-orphan;
tab-stops:36.0pt'><span lang=EN-US style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'><span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>1.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>登录</span><span
style='font-size:11.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:-webkit-standard;color:#595959;mso-themecolor:text1;
mso-themetint:166;background:#F7F7F7'>链活</span><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>APP</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>平台后，进入个人中心<span
lang=EN-US>&gt;</span>我的主页<span lang=EN-US>&gt;</span>个人相册或进入个人中心<span
lang=EN-US>&gt;</span>我的相册。</span><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:200%;mso-pagination:widow-orphan;
tab-stops:36.0pt'><span lang=EN-US style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'><span style='mso-tab-count:1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>2.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>点击右上方“上传”按钮，进入上传页面，选择要上传照片的技能品类（个人照片不用选择），点击“<span
lang=EN-US>+</span>”上传相关图片。</span><span lang=EN-US style='font-family:"微软雅黑","sans-serif";
color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:200%;mso-pagination:widow-orphan'><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:orangered;background:white'>怎样修改头像？</span><span
lang=EN-US style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal style='text-indent:21.0pt;line-height:200%;mso-pagination:
widow-orphan'><span style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>点击个人中心—头像，修改即可。建议您上传：本人正面的、露出清晰五官的头像。</span><span
lang=EN-US style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:200%;mso-pagination:widow-orphan'><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:orangered;background:white'>性别点错了，怎么修改？</span><span
lang=EN-US style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal style='text-indent:21.0pt;line-height:200%;mso-pagination:
widow-orphan'><span style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>通过身份认证之后，系统会自动识别您正确的性别。</span><span
lang=EN-US style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:200%;mso-pagination:widow-orphan'><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:orangered;background:white'>约单<span lang=EN-US>ID</span>可以更改吗？</span><span
lang=EN-US style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal style='text-indent:21.0pt;line-height:200%;mso-pagination:
widow-orphan'><span style='font-size:11.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:-webkit-standard;color:#595959;mso-themecolor:text1;
mso-themetint:166;background:#F7F7F7'>链活</span><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>ID</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>是用户注册后系统自动生成的账号，用于作为您在</span><span
style='font-size:11.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:-webkit-standard;color:#595959;mso-themecolor:text1;
mso-themetint:166;background:#F7F7F7'>链活</span><span style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:#666666;background:white'>上的固定账号，不可更改。</span><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:200%'><a name="_GoBack"></a><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'><o:p>&nbsp;</o:p></span></p>

</div>

</body>

</html>
