<!doctype html>
<html id="app">
<head> 
    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>审核认证</title>  	
		<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"/>
		<link rel="apple-touch-icon" href="apple-touch-icon.png">		
		<script type="text/javascript">
			(function() {
			    var newRem = function() {
			        var html = document.documentElement;
			        html.style.fontSize = html.getBoundingClientRect().width / 37.5 + 'px';
			    };
			    window.addEventListener('resize', newRem, false);
			    newRem();
			})();
		</script>
</head>

<body bgcolor=white lang=ZH-CN style='tab-interval:21.0pt;text-justify-trim:
punctuation'>

<div class=WordSection1 style='layout-grid:15.6pt'>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>上传的信息多久审核通过？</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'>用户自上传信息之后起<span lang=EN-US>24</span>小时内审核通过。如果时间已到还没有审核通过</span><span
lang=EN-US style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666'>821510504@qq.com</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>联系我们。</span><span
lang=EN-US style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>什么样的头像更容易审核通过？</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'>必须是本人正面的，露出清晰五官的图片。建议您使用能够体现您美观大方的照片，有利于提升您的形象和成交率。</span><span
lang=EN-US style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>什么样的语音介绍容易通过？</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>1.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>语音介绍与您发布的技能品类相关，且内容丰富能体现您的专业性。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>2.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>语音录制时间恰当，不要太短。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>3.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>语音介绍当中不能出现联系方式</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>如何进行身份认证？</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>1.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>登录链活<span lang=EN-US>APP</span>平台后，点击进入技能管理<span
lang=EN-US>&gt;</span>个人认证<span lang=EN-US>&gt;</span>身份认证。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>2.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>在身份证号码提示框内输入真实有效的本人身份证号码。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>3.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>分别上传清晰的手持证件头部照、身份证正面照、点击提交认证。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>注：<span lang=EN-US>(1)</span>用户认证后，身份证号等相关个人隐私信息不会显示在平台上。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>(2)</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>无大陆身份证的用户可以通过护照或者港澳台身份证进行认证哦。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>为什么需要身份认证？</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'>服务者：</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>1.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>身份认证有助于增加需求者对您的信任感，增强需求者的决策参考依据，提升您的成单概率。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>2.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>部分品类需要进行身份认证才可以使用应邀功能。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>3.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>身份认证后可以使用火箭功能，将您的信息排名靠前，增强您的曝光度。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>4.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>为确保资金安全，身份认证后可以才提现。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'>需求者：</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>1.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>身份认证有助于增加服务者对您的信任感，为您提供更优质的服务。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>2</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>身份认证之后可以免费领取保险，保障自己的交易。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>如何进行技能认证？</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>1.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>登录链活<span lang=EN-US>APP</span>平台后，点击进入技能管理<span
lang=EN-US>&gt;</span>个人认证<span lang=EN-US>&gt;</span>技能认证。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>2.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>选择要认证的技能</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>3.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>在证书名称提示框内输入要上传的证书名称。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>4.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>上传证书图片，提交完成技能认证。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>5.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>如需上传多个证书，可点击添加新证书，完成后提交。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>为什么需要技能认证？</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'>上传技能认证，有助于增加需求者信任感，增加您的成单概率。</span><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>认证技能可以上传哪些证书？</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'>具体可点击“个人中心”→“个人认证”→“技能认证”，点击您需要认证的技能，查看“需上传”的相关证书。</span><span
lang=EN-US style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>认证后才能接单吗？</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'>多数品类无需认证就可以接单，但是部分品类需要认证后才能接单。</span><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>如何修改自己的认证信息？</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'>认证信息不能自行修改，认为了保证信息的真实有效性平台仅提供一次审核提交机会，经过平台审核后显示在个人主页。</span><span
lang=EN-US style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>身份认证被驳回怎么办？</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'>请详细阅读驳回理由，按照要求重新申请。在提交认证信息时，提交前请核对身份号是否输入正确，个人头像和身份证头像是否一致，上传的身份证照片清晰。具体可点击“查看示例”，进行相应修改。</span><span
lang=EN-US style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>技能认证被驳回怎么办？</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>1.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>查看上传证书图片是否清晰</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>2.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>查看上传的证书是否与您发布的技能相符。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>3.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>确认证书是否与本人身份信息一致。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>4.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>确认证书是否含有个人信息。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>支付宝<span lang=EN-US>/</span>微信<span lang=EN-US>/</span>微博<span
lang=EN-US>/</span>芝麻信用认证不成功？</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'>该支付宝<span lang=EN-US>/</span>微信<span lang=EN-US>/</span>微博<span
lang=EN-US>/</span>芝麻信用信息已经认证过链活的其他账户，目前我们暂不支持变更。</span><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><a
name="_GoBack"></a><span lang=EN-US style='font-family:"微软雅黑","sans-serif"'><o:p>&nbsp;</o:p></span></p>

</div>

</body>

</html>
