<!doctype html>
<html id="app">
<head> 
    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>需求管理</title>  	
		<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"/>
		<link rel="apple-touch-icon" href="apple-touch-icon.png">		
		<script type="text/javascript">
			(function() {
			    var newRem = function() {
			        var html = document.documentElement;
			        html.style.fontSize = html.getBoundingClientRect().width / 37.5 + 'px';
			    };
			    window.addEventListener('resize', newRem, false);
			    newRem();
			})();
		</script>
</head>
<body bgcolor=white lang=ZH-CN style='tab-interval:21.0pt;text-justify-trim:
punctuation'>

<div class=WordSection1 style='layout-grid:15.6pt'>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>如何发需求？</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>方式<span lang=EN-US>1</span>：用户在附近页，点击“<span
lang=EN-US>+</span>”按钮→发需求→选择需求品类→填写需求→提交。提交之后，会有服务者应邀您的需求，最终完成交易。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>方式<span lang=EN-US>2</span>：选择心仪服务者点击“约<span
lang=EN-US>Ta</span>”→发布需求→填写需求→提交。提交之后，会通知<span lang=EN-US>Ta</span>及其他服务者来应邀您的需求，最终完成交易。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>如何选择适合的服务者？</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'>「</span><span style='font-size:11.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:-webkit-standard;
color:#595959;mso-themecolor:text1;mso-themetint:166;background:#F7F7F7'>链活</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>」对所有服务者都有审核，确保服务质量。同时提供多个评价维度供用户参考。在选择服务者时，可以查看其个人主页，查看如下内容：身份认证，技能认证，微博认证，微信认证，支付宝认证，芝麻信用认证等。同时可以查看服务者的个人等级和用户评价，贡献值代表了服务者以往在链活上的服务是否符合规范，用户评价为被服务过的客户的真实反馈。也可以直接通过页面的“筛选”选项，选择合适的服务者。</span><span
lang=EN-US style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>订单在什么情况下会失效？</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>1.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>发布需求的时候，需要选择订单有效期。在订单有效期内，用户发布的需求没有人应邀或者用户未选中心仪的服务者，订单到期后，自动失效</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>2.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>需求者删除需求后，订单会失效。如果想继续该订单，需要重新发布需求。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>为什么服务者应邀我的需求之后，不跟我联系？</span><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'>原因可能有以下几点：</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>1.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>您联系的用户暂时不在线上，可能没有收到您的消息。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>2.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>平台上的每个服务者收到的订单是很多的，可能由于对方需要回复的人数比较多，没有给您及时响应。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>注：建议您可以主动跟对方沟通确认交易的信息，或者在聊天界面的上方有个打电话的图标，您可以主动打电话给对方。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><a
name="_GoBack"></a><span lang=EN-US style='font-family:"微软雅黑","sans-serif"'><o:p>&nbsp;</o:p></span></p>

</div>

</body>

</html>
