<!doctype html>
<html id="app">
<head> 
    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>技能管理</title>  	
		<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"/>
		<link rel="apple-touch-icon" href="apple-touch-icon.png">		
		<script type="text/javascript">
			(function() {
			    var newRem = function() {
			        var html = document.documentElement;
			        html.style.fontSize = html.getBoundingClientRect().width / 37.5 + 'px';
			    };
			    window.addEventListener('resize', newRem, false);
			    newRem();
			})();
		</script>
</head>

<body bgcolor=white lang=ZH-CN style='tab-interval:21.0pt;text-justify-trim:
punctuation'>

<div class=WordSection1 style='layout-grid:15.6pt'>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>如何成为服务者？</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'>附近页点开“<span lang=EN-US>+</span>”按钮，选择发布技能→选择擅长的技能类别→填写详细的服务内容→提交→审核→审核通过→应邀订单
有时间，有技能都可以通过链活平台发布服务进行赚钱。</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>技能被驳回怎么办？</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'>请详细阅读驳回理由，按照要求重新申请。在提交服务时，请清楚描述您能提供的具体服务，可以解决用户什么需求。</span><span
lang=EN-US style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>头像被驳回怎么办？</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'>请详细阅读头像审核规范，按照示例提示填写，重新上传，建议使用本人真实清晰露五官的头像。</span><span
lang=EN-US style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>如何设置自己的报价</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'>建议您根据页面展示的平均报价进行设置自己的报价。一个合适的价格，会得到很多需求者的认可哦，这样才更容易成交。</span><span
lang=EN-US style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>如何发布技能？</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'>用户点击页面下方“<span lang=EN-US>+</span>”按钮→发布技能→选择技能品类→填写技能信息→提交。通过审核后，才可以在“技能管理”页面，选择待应邀的需求者进行应邀赚钱。</span><span
lang=EN-US style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>发布的技能服务可以修改吗？</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'>可以修改。在“技能管理”→“我的技能”→找到需要修改的技能点击”修改“。根据提示进行修改之后的信息，还需要再一次进行审核。</span><span
lang=EN-US style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>发布的技能服务可以关闭吗？</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'>您可以随时关闭已发布的服务。技能管理→我的技能→关闭技能</span><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>发布的技能服务可以删除吗？</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'>您可以随时关闭已发布的服务。技能管理→我的技能→删除技能</span><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>为何服务者要身份认证和服务认证？</span><span lang=EN-US style='font-size:
12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:
宋体;color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'>身份认证和服务认证之后可以增加您的推送次数和交易成功率</span><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>给<span class=SpellE><span lang=EN-US>ta</span></span>发消息不回复怎么办？</span><span
lang=EN-US style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>1.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>从消息列表进入，主动和对方发送消息。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>2.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>在聊天页面上方，选择“打电话”主动给对方打电话联系（注意：如果免费电话按钮呈灰色状态，此时对方进行了设置，只能发送消息不能拔打电话）。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>电话咨询服务怎么使用？</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>1.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>服务者发布技能是可以选择有电话咨询服务，需求者发布需求时也可以选择发布电话咨询需求；</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>2.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>发起电话咨询服务需求者和服务者会接到约单电话，双方都接听后开始咨询服务，按照服务者报价的金额和咨询时长扣除需求者费用，意外挂断不用担心，会按照当前挂断时长收费；</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>3.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>要使用在线咨询服务的需求者是要提前充值的哦；</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>注：必须使用注册时手机号码接听！</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>视频咨询服务怎么使用？</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>1.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>服务者发布技能是可以选择有视频咨询服务，需求者发布需求时也可以选择发布视频咨询需求；</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>2.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>服务者应邀后需求者可开始对服务者进行视频咨询，服务者接通后开始咨询服务，按照服务者报价的金额和咨询时长扣除需求者费用，意外挂断不用担心，会按照当前挂断时长收费；</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>3.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>要使用视频咨询服务的需求者是要提前充值的哦；</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>远程服务是什么？</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'>需求者和服务者双方不方便见面情况下可以选择远程服务方式</span><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>如何保障用户的权益？</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>1.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>上线担保支付功能，凡是在平台交易的用户，均可获得平台担保，保证交易权益。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>2.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>上线保险功能，符合条件的用户可以免费领取保险，保障您的交易安全。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>3.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>可以邀请对方认证身份来确认交易对象的相关信息。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>4.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>建议您在平台进行支付，在支付之前提示对方支付订金给您，见面后确认订金。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>注：（<span lang=EN-US>1</span>）平台会多种方式保障您的交易安全，请放心使用。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>（<span lang=EN-US>2</span>）平台对用户提交的信息是进行审核的。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>（<span lang=EN-US>3</span>）平台有明确的规范，会对违规的行为进行严肃处理。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>服务者怎么才能提高接单率？</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>1.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>照片和相册：面带微笑的生活照、优秀的作品或者全面的自我展示会给消费者留下一个好的直观印象；</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>2.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>录制语音介绍和视频介绍：丰富展示您优秀的技能；</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>3.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>技能认证和身份认证：上传您的资格证书和身份证，将大大提高您技能的可信度；</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>4.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>及时抢单：您想要的订单大家都想要，更积极的应邀，更合理的价格，更详细诚恳的服务留言，都能为自己赢得想要的订单；</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>5.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>客户的评论：诚心诚信的提供服务，邀请您的客户为您提供更多赞扬的评价，这些评价能够帮助未来的用户更加直观的了解您的服务有多么优秀；</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>6.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>扩大您的客户群：分享链活给您身边尽可能多的朋友，口口相传，链活愈加广泛的用户才能给您带来更多应邀的机会。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>如何让自己在附近页的排名更靠前？</span><span lang=EN-US style='font-size:
12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:
宋体;color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>1.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>头像是本人、正面、清晰五官照</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>2.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>发布的服务已经审核通过并在激活状态下</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>3.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>服务描述完整通顺能够体现发布服务的专业性</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>4.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>已经获得身份认证和技能认证</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>5.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>展示在附近页的服务必须有至少三张与服务相关的相册</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>6.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>账户未被禁用、举报、封号过</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>7.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>经常登录，有应邀和聊天等行为，活跃度高的用户</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>8.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>聊天无违规、违法内容</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>9.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>无违规交易行为等</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>10.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>上传语音介绍和视频介绍</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>11.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>获得更多好评</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>12.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>付费应邀</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>注：满足以上条件的用户，系统会随机匹配大家在靠前的位置。分享<span
lang=EN-US>app</span>可以获得一次置顶机会。</span><span lang=EN-US style='font-family:
"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>如何才能上推荐位？</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>1.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>发布的服务已经审核通过并在激活状态下</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>2.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>服务描述完整通顺能够体现发布服务的专业性</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>3.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>已经获得身份认证、技能认证</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>4.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>展示在附近页的服务必须有至少三张与服务相关的相册</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>5.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>账户未被禁用、举报、封号过</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>6.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>经常登录，活跃度高的用户</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>7.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>聊天无违规、违法内容</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>8.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>无违规交易行为</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>9.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>上传视频介绍和语音介绍</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>10.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>获得更多的好评</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>11.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>付费应邀</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>符合以上条件的用户，系统会随机分配用户上推荐位，推荐位不可申请。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>推荐位有什么作用？</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'>排名越前，接单机会越大，才能促进自己的订单成交率。</span><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>“认证”有什么用？</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'>获得更多用户对你的个人信息认证，可以提升你的信息可靠性，获得更多的订单和成交。</span><span
lang=EN-US style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>服务者发布了很多行业的服务怎么来选择推送内容？</span><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'>可以将不同行业的服务设置为启用状态或者关闭状态，系统只会给您推送处于启用状态的服务行业的需求信息。</span><span
lang=EN-US style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><a
name="_GoBack"></a><span lang=EN-US style='font-family:"微软雅黑","sans-serif"'><o:p>&nbsp;</o:p></span></p>

</div>

</body>

</html>
