<!doctype html>
<html id="app">
<head> 
    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>举报</title>  	
		<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"/>
		<link rel="apple-touch-icon" href="apple-touch-icon.png">		
		<script type="text/javascript">
			(function() {
			    var newRem = function() {
			        var html = document.documentElement;
			        html.style.fontSize = html.getBoundingClientRect().width / 37.5 + 'px';
			    };
			    window.addEventListener('resize', newRem, false);
			    newRem();
			})();
		</script>
</head>

<body bgcolor=white lang=ZH-CN style='tab-interval:21.0pt;text-justify-trim:
punctuation'>

<div class=WordSection1 style='layout-grid:15.6pt'>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>如何举报<span lang=EN-US>/</span>拉黑某人？</span><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'>点击对方头像进入<span class=SpellE><span lang=EN-US>ta</span></span>的个人主页，点击右上角的“…”，进行“拉黑<span
lang=EN-US>/</span>举报”操作即可。加入黑名单后，双方不能互发消息和打电话，系统也不会把<span class=SpellE><span
lang=EN-US>ta</span></span>的订单推送给您。</span><span lang=EN-US style='font-size:
12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:
宋体;color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>举报违规内容后会如何处理？</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:#666666;
background:white'>被举报者如果违规情况属实，有警告、删除内容、封禁账号等处罚方式。约单对所有举报者的身份保密，不会向任何人透露其个人信息。但是利用保密权力行使恶意举报，链活会给予警告乃至禁用处理。</span><span
lang=EN-US style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan'><span style='font-size:12.0pt;line-height:200%;
font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;color:orangered;
background:white'>哪些类型的举报不受理？</span><span lang=EN-US style='font-size:12.0pt;
line-height:200%;font-family:"微软雅黑","sans-serif";mso-bidi-font-family:宋体;
color:orangered'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>1.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>在链活平台以外发生的纠纷，平台不予受理。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>2.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>因私人恩怨产生的口角争执，平台不予处理。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%;
mso-pagination:widow-orphan;tab-stops:36.0pt'><span lang=EN-US
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'><span style='mso-tab-count:
1'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>3.</span><span
style='font-size:12.0pt;line-height:200%;font-family:"微软雅黑","sans-serif";
mso-bidi-font-family:宋体;color:#666666;background:white'>平台上的纠纷，证据不足的不予受理。</span><span
lang=EN-US style='font-family:"微软雅黑","sans-serif";color:#666666'><o:p></o:p></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><a
name="_GoBack"></a><span lang=EN-US style='font-family:"微软雅黑","sans-serif"'><o:p>&nbsp;</o:p></span></p>

</div>

</body>

</html>
