<!doctype html>
<html id="app">
<head> 
    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>服务保障</title>  	
		<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"/>
		<link rel="apple-touch-icon" href="apple-touch-icon.png">		
		<script type="text/javascript">
			(function() {
			    var newRem = function() {
			        var html = document.documentElement;
			        html.style.fontSize = html.getBoundingClientRect().width / 37.5 + 'px';
			    };
			    window.addEventListener('resize', newRem, false);
			    newRem();
			})();
		</script>
</head>

<body bgcolor=white lang=ZH-CN style='tab-interval:21.0pt;text-justify-trim:
punctuation'>

<div class=WordSection1 style='layout-grid:15.6pt'>

<p class=MsoNormal align=center style='text-align:center;line-height:200%'><a
name="_GoBack"></a><span style='font-size:12.0pt;line-height:200%;font-family:
"微软雅黑","sans-serif";color:red'>链活服务保障<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>亲爱的用户，欢迎并感谢使用“链活”服务平台”（以下称“链活”）。“
服务平台是一个供用户发布、交流和提供服务的信息交易平台。<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>为了更好的为您服务，“链活”根据国家相关法律、法规，竭诚为您打造一个安全真实的时间与技能交易平台，保护您的合法权益。为此，“链活”特别采取了以下措施，请您务必仔细阅读。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>第一条
用户隐私信息保护<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>“链活”从技术手段，到数据调取流程制度采取多个举措，保障用户信息安全，并制定了严格的用户信息保密制度。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span lang=EN-US style='font-family:
"微软雅黑","sans-serif"'>1</span><span style='font-family:"微软雅黑","sans-serif"'>、平台针对用户的各类信息，资料，进行技术性加密，以防止用户隐私泄露。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span lang=EN-US style='font-family:
"微软雅黑","sans-serif"'>2</span><span style='font-family:"微软雅黑","sans-serif"'>、“链活”平台对保密用户隐私信息实行严格保密制度，确保用户信息安全。其中包括身份认证资料，技能认证资料、手机号码、手机设备识别码、<span
lang=EN-US>IP</span>地址、用户聊天记录，用户举报或者反馈的问题及信息、交易详情及明细<span lang=EN-US>(</span>但不限<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span lang=EN-US style='font-family:
"微软雅黑","sans-serif"'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>于以上信息类资料<span
lang=EN-US>)</span>等。<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span lang=EN-US style='font-family:
"微软雅黑","sans-serif"'>3</span><span style='font-family:"微软雅黑","sans-serif"'>、 未经用户授权同意，“链活”不向任何第三方或其他组织、企事业单位、公开用户隐私信息。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>除以下特定情形：<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>（<span
lang=EN-US>1</span>）违反国家相关法律、法规或执法部门依法要求提供用户的隐私信息；<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>（<span
lang=EN-US>2</span>）由于特殊原因用户自行将“链活”账户、密码，泄露或告知他人使用，由此产生的任何损失，由本人自行负责；<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>（<span
lang=EN-US>3</span>）用户与“链活”就其隐私信息的使用达成公开协议时，“链活”根据协议可选择是否公开隐私信息；<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>（<span
lang=EN-US>4</span>）非“链活”主观行为及不可抗力事件，导致的用户隐私信息泄露的；<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span lang=EN-US style='font-family:
"微软雅黑","sans-serif"'>4</span><span style='font-family:"微软雅黑","sans-serif"'>、“链活”严格遵守国家《未成年人保护法规定》的法律、法规，保护未成年人的合法权益，十六周岁以下的未成年人不能注册“链活”帐号。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>第二条
保障交易安全<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>“链活”全力为您打造一个放心安全的交易平台，采取多种举措保障交易双方信息的真实性，提高交易平台的安全性。除现阶段主流的用户认证系统，还设置了更为严密的交易流程和明确的风险提示等功能。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>防范功能措施如下：<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span lang=EN-US style='font-family:
"微软雅黑","sans-serif"'>1</span><span style='font-family:"微软雅黑","sans-serif"'>、提供目前主流身份认证方式：<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>（<span
lang=EN-US>1</span>）手机号认证：“链活”要求用手机号注册，输入手机验证码完成注册。根据国家《移动互联网应用程序信息服务管理规定》“后台实名、前台自愿”的原则，用户需要使用手机号注册“链活”账号，并提供相关真实用户信息。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>（<span
lang=EN-US>2</span>）身份认证：需要上传身份证照片及身份证号认证，人工审核通过后，完成注册认证。<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>（<span
lang=EN-US>3</span>）技能认证<span lang=EN-US>+</span>多技能认证（技能认证支持多个技能证书认证）：上传相关技能证书照片，人工审核通过后，完成注册认证。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>（<span
lang=EN-US>4</span>）微博认证：用户绑定微博或使用微博登录，完成认证。<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>（<span
lang=EN-US>5</span>）微信认证：用户绑定微信或使用微信登录，完成认证。<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>（<span
lang=EN-US>6</span>）芝麻信用认证：用户绑定芝麻信用后，完成认证。<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>（<span
lang=EN-US>7</span>）支付宝认证：使用支付宝充值或支付，完成认证。<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>认证方式详情，请在个人中心“个人认证”模块查询。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span lang=EN-US style='font-family:
"微软雅黑","sans-serif"'>2</span><span style='font-family:"微软雅黑","sans-serif"'>、严谨的交易流程：<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>（<span
lang=EN-US>1</span>）免费电话沟通功能：为保障用户交易安全和信息真实可靠性，平台提供统【语音外呼电话】及【<span lang=EN-US>10</span>分钟免费电话】模块，交易双方均可免费使用此功能。鼓励交易双方购买前进行事项沟通，确认信息、安全无误后确认服务内容。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>（<span
lang=EN-US>2</span>）“链活”平台担保交易功能：为保障买卖双方合法权益，“链活”平台为在平台上进行支付的用户，提供如下交易保障：关于订金：直接在平台上支付订金，确认订金后，订金才会支付给服务者。有效规避因对方违约给用户带来<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span lang=EN-US style='font-family:
"微软雅黑","sans-serif"'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>损失。关于余款：确认订金后支付余款，在“链活”平台上支付余款。余款将进入“链活”平台。在服务结束后，需要买方确认余款，余款支付给卖方。防止服务过程中因对方违约给用户带来损失。服务双方如果出现纠纷，可以向平<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span lang=EN-US style='font-family:
"微软雅黑","sans-serif"'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>台申请仲裁。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>（<span
lang=EN-US>3</span>）平台管控机制：“链活”用户支付流程必须全部在平台上完成，平台之外的任何交易行为，产生任何问题，“链活”均不承担任何负责，由用户自行负责。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>（<span
lang=EN-US>4</span>）风险提示机制：任何涉及金钱的交易动作，平台都会提前向用户提示服务风险和预见性风险的预警。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>（<span
lang=EN-US>5</span>）交易纠纷处理机制：凡用户对交易服务有争议的，平台根据双方举证材料（沟通记录、图像材料、及可证明类材料）及官方出具违规通知类的，将给予账户暂时性或永久性冻结处理。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>（<span
lang=EN-US>6</span>）“链活”平台保险保障计划为保障平台用户的权益，增强买卖双方人身和财产安全保障，“链活”为符合要求的用户，提供免费的保险；<span
lang=EN-US>10</span>万元交通综合意外保障计划：符合赠险要求的用户，发送需求和技能之后可以免费领取交<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span lang=EN-US style='font-family:
"微软雅黑","sans-serif"'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>通综合意外保障，成功领取保险的用户可享受自驾、公共交通和航空等出行方式的交通保障，为双方线下交易提供全方位的保险服务，增加平台用户的附加权益；账户资金安全保障：在“链活”平台支付定金<span
lang=EN-US>/</span>全款的用户，可享受“链<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span lang=EN-US style='font-family:
"微软雅黑","sans-serif"'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>活”平台赠送的个人账户资金安全保险，保障名下账户的资金安全，账户发生盗刷盗用盗取等事件，保险公司酌情进行赔付。具体内容请以保险协议为准。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>第三条
关于用户审核<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span lang=EN-US style='font-family:
"微软雅黑","sans-serif"'>1</span><span style='font-family:"微软雅黑","sans-serif"'>、人工审核：为确保用户在平台提交的信息安全可靠，“链活”设置专门的人工审核部门，制定严格的审核规范，第一时间对平台提交信息进行认证。针对对服务内容、需求发布、应约邀请、线上操作等，每一个信息细节都实施了<span
lang=EN-US>24<o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span lang=EN-US style='font-family:
"微软雅黑","sans-serif"'><o:p></o:p></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>小时监控并严格把关。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span lang=EN-US style='font-family:
"微软雅黑","sans-serif"'>2</span><span style='font-family:"微软雅黑","sans-serif"'>、审核内容：包含了头像、昵称、个人简介、教育经历、竞争描述、工作经历、服务介绍、荣誉资质、服务描述、专业问答、应邀介绍、需求详情、相册图片、身份<span
lang=EN-US>/</span>技能认证资料等信息。<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>第四条
关于用户违规处理<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>“链活”平台提供了“个人中心”模块，提供了详细用户使用手册，其中包括：《使用协议》、《常见问题》、《贡献值规则》、《活力贝规则》、《赚钱攻略》、《审核规范》等。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>对于违规操作及不正当交易等行为，“链活”为用户提供举报、拉黑及信息反馈等功能，提倡用户及时举报不良行为，维护自身合法权益。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span lang=EN-US style='font-family:
"微软雅黑","sans-serif"'>1</span><span style='font-family:"微软雅黑","sans-serif"'>、违规账号处理：<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>同时“链活”将根据违规情节大小给予如下处理方式：<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>（<span
lang=EN-US>1</span>）禁用：平台有违反《“链活”平台审核规范》的行为，但情节不严重用户，根据“链活”审核确认后，禁用时间为<span
lang=EN-US>7</span>天，连续禁用三次会自动封号；<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>（<span
lang=EN-US>2</span>）封号：平台有违反《“链活”平台审核规范》的操作行为且情节严重用户（请参照上述表述）平台或将给予永久封号处理；<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span lang=EN-US style='font-family:
"微软雅黑","sans-serif"'>2</span><span style='font-family:"微软雅黑","sans-serif"'>、冻结资金处理：有异常交易行为及疑似违规交易行为的用户，根据情节严重程度“链活”审核确认后，将给予资金冻结处理。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span lang=EN-US style='font-family:
"微软雅黑","sans-serif"'>3</span><span style='font-family:"微软雅黑","sans-serif"'>、违法行为处理：“链活”一旦发现用户有违法行为，将全力配合执法部门，按照相关要求进行处理。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>第五条
其他事项<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span lang=EN-US style='font-family:
"微软雅黑","sans-serif"'>1</span><span style='font-family:"微软雅黑","sans-serif"'>、“链活”为用户提供两个举报通道，一经发现以上违规行为可以随时举报。我们会第一时间进行处理。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>（<span
lang=EN-US>1</span>）应邀后的聊天窗口：聊天窗口右上角点击【举报有奖】按钮。<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>（<span
lang=EN-US>2</span>）用户个人主页：进入被举报者个人主页点击【…】按钮。<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span lang=EN-US style='font-family:
"微软雅黑","sans-serif"'>2</span><span style='font-family:"微软雅黑","sans-serif"'>、欢迎各位用户积极向平台反馈信息，我们将第一时间积极配合反馈处理。出现任何问题，请随时与我们积极沟通，“链活”会竭尽全力解决。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span lang=EN-US style='font-family:
"微软雅黑","sans-serif"'>3</span><span style='font-family:"微软雅黑","sans-serif"'>、本声明未涉及的问题请参见国家有关法律法规，当本声明与国家有关法律法规冲突时，以国家法律法规为准。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span lang=EN-US style='font-family:
"微软雅黑","sans-serif"'>4</span><span style='font-family:"微软雅黑","sans-serif"'>、本规范为动态文档，“链活”平台将持续提供各种服务保障，为用户提供一个安全健康的交易平台。同时，我们也会根据相关法律法规或产品运营的需要对上述内容进行修改并更新。请您经常查看以便获得最新信息。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span lang=EN-US style='font-family:
"微软雅黑","sans-serif"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:200%'><span lang=EN-US style='font-family:
"微软雅黑","sans-serif"'><o:p>&nbsp;</o:p></span></p>

<p class=MsoNormal style='line-height:200%'><span style='font-family:"微软雅黑","sans-serif"'>官方客服：<span
lang=EN-US>821510504@qq.com<o:p></o:p></span></span></p>

<p class=MsoNormal style='line-height:200%'><span lang=EN-US style='font-family:
"微软雅黑","sans-serif"'><o:p>&nbsp;</o:p></span></p>

</div>

</body>

</html>
