<!doctype html>
<html id="app">
<head> 
    <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>用户行为规范</title>  	
		<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"/>
		<link rel="apple-touch-icon" href="apple-touch-icon.png">		
		<script type="text/javascript">
			(function() {
			    var newRem = function() {
			        var html = document.documentElement;
			        html.style.fontSize = html.getBoundingClientRect().width / 37.5 + 'px';
			    };
			    window.addEventListener('resize', newRem, false);
			    newRem();
			})();
		</script>
</head>


<body bgcolor=white lang=ZH-CN style='tab-interval:21.0pt;text-justify-trim:
punctuation'>

<div class=WordSection1 style='layout-grid:15.6pt'>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><a
name="_GoBack"></a><span style='display:block;width:100%;text-align:center;font-size:15.0pt;line-height:200%;font-family:
"微软雅黑","sans-serif"'>链活用户行为规范<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
style='font-family:"微软雅黑","sans-serif"'>一、总则<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'>1.1</span><span
style='font-family:"微软雅黑","sans-serif"'>、为了维护链活平台健康的生态秩序，更好地保障用户合法权益及提供更好的用户体验，嘉泽无限（北京）网络科技有限公司（以下简称“链活平台”）根据我国现行法律法规及《链活平台用户协议》，制定《链活平台用户行为规范》。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'>1.2</span><span
style='font-family:"微软雅黑","sans-serif"'>、链活平台用户在链活平台的各种言论行为须遵守本规范。链活平台将按照相关法律法规及用户协议，用户行为规范，对违规行为进行相应处理。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'>1.3</span><span
style='font-family:"微软雅黑","sans-serif"'>、 如您对本规范有任何疑惑或争议，可联系链活客服告知我们，我们将及时予以解释或处理。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'>1.4</span><span
style='font-family:"微软雅黑","sans-serif"'>、 对于违反本协议的用户行为，链活将严肃处理。欢迎大家随时举报。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
style='font-family:"微软雅黑","sans-serif"'>二、用户行为规范<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'>2.1</span><span
style='font-family:"微软雅黑","sans-serif"'>、 聊天功能使用规范<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
style='font-family:"微软雅黑","sans-serif"'>链活平台聊天窗口，是为了方便应邀后双方沟通，更便利的进行服务。聊天内容，禁止出现任何违反国家法律法规的内容，禁止出现任何形式的黄色，暴力等不文明内容。包括但不限于以下内容：<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'>2.1.1</span><span
style='font-family:"微软雅黑","sans-serif"'>、 发布色情及色情擦边内容。<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
style='font-family:"微软雅黑","sans-serif"'>（<span lang=EN-US>1</span>）散布淫秽、色情内容，包括但不限于招嫖、约炮等内容。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
style='font-family:"微软雅黑","sans-serif"'>（<span lang=EN-US>2</span>）发布带有色情暗示、挑逗性的图片、文字、音频、视频、动漫、外部网站链接和二维码等内容的。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'>2.1.2</span><span
style='font-family:"微软雅黑","sans-serif"'>、发布任何广告相关信息。包括但不限于各种店铺广告信息、个人联系方式（加我微信有红包）、办理各种金融类（微商、信用卡、贷款、保险），医药类（化妆品、整容整形、成人用品）产品，各种代购，各种招生信息等广告。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'>2.1.3</span><span
style='font-family:"微软雅黑","sans-serif"'>、威胁、污蔑、诽谤以及辱骂他人的行为。<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
style='font-family:"微软雅黑","sans-serif"'>（<span lang=EN-US>1</span>）【违反上述（<span
lang=EN-US>1</span>）<span lang=EN-US>~</span>（<span lang=EN-US>3</span>）条，一经发现，视情节轻重，进行禁用或者封号处理，情节特别严重者将永久不能使用链活平台。】<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'>2.1.4</span><span
style='font-family:"微软雅黑","sans-serif"'>、盗用他人资料的行为。包括但不限于以下盗用行为：<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
style='font-family:"微软雅黑","sans-serif"'>（<span lang=EN-US>1</span>）未经允许，擅自发布、使用他人已经登记注册的企业名称或商标，侵犯他人企业名称专用权及商标专用权。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
style='font-family:"微软雅黑","sans-serif"'>（<span lang=EN-US>2</span>）未经允许，擅自发布、使用他人姓名、照片、身份证号码，侵害他人名誉权、肖像权等合法权利。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'>2.1.5</span><span
style='font-family:"微软雅黑","sans-serif"'>、冒充链活平台官方帐号的行为：<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
style='font-family:"微软雅黑","sans-serif"'>（<span lang=EN-US>1</span>）发布、使用、恶搞链活平台<span
lang=EN-US>LOGO</span>等已有知识产权内容，发布攻击或诋毁链活平台言论，给链活平台带来名誉或经济损失的。<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'>2.1.6</span><span
style='font-family:"微软雅黑","sans-serif"'>、出现违反国家现行法律法规的行为。<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
style='font-family:"微软雅黑","sans-serif"'>（<span lang=EN-US>1</span>）卖毒品、引诱他人吸毒、买卖假币、买卖枪支弹药以及管制刀具、买卖违禁药物、买卖假证等。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
style='font-family:"微软雅黑","sans-serif"'>（<span lang=EN-US>2</span>）骗取钱财为目的的虚假社交行为，诈骗话费或产生非正常高消费行为（话费托、酒托、饭托等）<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
style='font-family:"微软雅黑","sans-serif"'>（<span lang=EN-US>3</span>）发布的信息含有聚众赌博、传授赌博（千术）技巧等内容。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'>2.1.7</span><span
style='font-family:"微软雅黑","sans-serif"'>、发布血腥、暴力、恐怖、恶心等会令人感到不适内容的行为。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'>2.1.8</span><span
style='font-family:"微软雅黑","sans-serif"'>、发布钓鱼网站链接、含木马病毒的网站链接等可能会对用户造成信息安全影响的内容。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
style='font-family:"微软雅黑","sans-serif"'>（<span lang=EN-US>1</span>）【违反上述（<span
lang=EN-US>4</span>）<span lang=EN-US>~</span>（<span lang=EN-US>8</span>）条，视情节轻重，会予以禁用、封号处理；情节严重将永久不能使用链活平台。触犯法律的行为，链活将严格配合交司法机关处理。】<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'>2.2</span><span
style='font-family:"微软雅黑","sans-serif"'>、链活平台用户评价行为规范<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
style='font-family:"微软雅黑","sans-serif"'>用户评价功能，是买家对服务者服务态度、服务质量等的综合评价，代表买家的服务满意度。公正客观的评价，有利于平台其他用户做出适当的选择，也有利于服务者提升服务质量。链活平台严禁发布任何人身攻击，不实评价，不文明语言等恶意评价；严禁在评价板块发布任何与服务不相关的言论。包括但不限于以下内容：<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'>2.2.1</span><span
style='font-family:"微软雅黑","sans-serif"'>、在评价中发布色情及色情擦边内容。包括但不限于散布淫秽、色情内容、带有色情暗示、挑逗和引起他人色情感受的文字。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'>2.2.2</span><span
style='font-family:"微软雅黑","sans-serif"'>、在评价中发布广告相关的信息。包括但不限于：赚钱的找我、加我微信有红包、办理各种金融类（微商、信用卡、贷款、保险），医院类（化妆品、整容整形、成人用品）产品，各种代购行为，各种招生信息等广告。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'>2.2.3</span><span
style='font-family:"微软雅黑","sans-serif"'>、威胁、污蔑诽谤以辱骂他人的恶意差评。<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'>2.2.4</span><span
style='font-family:"微软雅黑","sans-serif"'>、冒充链活平台官方帐号的行为：<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
style='font-family:"微软雅黑","sans-serif"'>（<span lang=EN-US>1</span>）发布、使用、恶搞链活平台<span
lang=EN-US>LOGO</span>等已有知识产权内容，或者容易与目前已有链活平台产品设计主题、外观等相混淆的内。<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'>2.2.5</span><span
style='font-family:"微软雅黑","sans-serif"'>、各种形式的诈骗行为。<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
style='font-family:"微软雅黑","sans-serif"'>（<span lang=EN-US>1</span>）以骗取钱财为目的的虚假社交行为，诈骗话费或产生非正常高消费行为。（话费托、酒托、饭托等）<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
style='font-family:"微软雅黑","sans-serif"'>（<span lang=EN-US>2</span>）发布的信息含有聚众赌博、传授赌博（千术）技巧等内容。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'>2.2.6</span><span
style='font-family:"微软雅黑","sans-serif"'>、发布血腥、暴力、恐怖、恶心等令人感到不适内容的行为。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'>2.2.7</span><span
style='font-family:"微软雅黑","sans-serif"'>、发布钓鱼网站链接、含木马病毒的网站链接等可能会对用户造成信息安全影响的内容。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
style='font-family:"微软雅黑","sans-serif"'>（<span lang=EN-US>1</span>）【违反以上行为的，将删除相关评价，视情节轻重给与禁用、封号等惩罚措施。情节特别严重或屡犯者将永久不能使用链活平台。】<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'>2.3</span><span
style='font-family:"微软雅黑","sans-serif"'>、链活平台“链活动态”板块行为规范<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
style='font-family:"微软雅黑","sans-serif"'>链活动态板块展示了用户每天发布的各种视频，图片，文字内容。用户发布的所有内容，严禁出现任何违法违规行为，严禁出现任何形式的黄色、暴力等各种不文明行为。包括但不限于以下行为：<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'>2.3.1</span><span
style='font-family:"微软雅黑","sans-serif"'>、在链活动态板块内发布招嫖、色情话术、性爱描述、约炮内容等违规色情信息，传播淫秽内容。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'>2.3.2</span><span
style='font-family:"微软雅黑","sans-serif"'>、在链活动态板块内发布色情（文字、图片、音频、视频、动漫、链接、网站、二维码等）内容。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'>2.3.3</span><span
style='font-family:"微软雅黑","sans-serif"'>、利用链活动态板块组织任何形式的赌博相关内容。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'>2.3.4</span><span
style='font-family:"微软雅黑","sans-serif"'>、在链活动态板块内发布各种广告相关的信息。包括但不限于：各种店铺广告信息、加我微信有红包、办理各种金融类（微商、信用卡、贷款、保险），医院类（化妆品、整容整形、成人用品）产品，各种代购，各种招生信息等广告。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'>2.3.5</span><span
style='font-family:"微软雅黑","sans-serif"'>、在链活动态板块内散播任何涉及政治敏感事件、各种煽动性内容、鼓动民族仇恨、民族歧视、破坏国家宗教政策、宣扬邪教、发布煽动非法集会、结社、游行的内容以及各种恶搞内容及恶意信息等。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'>2.3.6</span><span
style='font-family:"微软雅黑","sans-serif"'>、在链活动态板块内发送有关于毒品、违禁药物的任何相关信息，包括但不限于买卖、吸食毒品的相关信息；售卖各种迷药类的信息。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'>2.3.7</span><span
style='font-family:"微软雅黑","sans-serif"'>、在链活动态板块内有涉及代孕类的信息。<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'>2.3.8</span><span
style='font-family:"微软雅黑","sans-serif"'>、链活动态板块内有涉及各种类型的传销类的信息。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'>2.3.9</span><span
style='font-family:"微软雅黑","sans-serif"'>、链活动态板块内发布各种制假贩假的信息。包括但不限于各种假证，假钞等。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
style='font-family:"微软雅黑","sans-serif"'>（<span lang=EN-US>1</span>）【违反以上行为的，将删除相关动态内容，并视情节轻重给与禁用、封号等惩罚措施。情节特别严重或屡犯者将永久不能使用链活平台。触犯法律的行为，链活将严格配合司法机关处理。】<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'>2.4</span><span
style='font-family:"微软雅黑","sans-serif"'>、视频行为规范：<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
style='font-family:"微软雅黑","sans-serif"'>使用链活平台视频咨询功能，需要严格遵守下列行为规范。违反约单平台视频行为规范，发布传播违规内容的行为，将视情节轻重给予禁用、封号处理；情节特别严重的，将进行封号处理，触犯法律的行为，链活将严格配合司法机关处理。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'>2.4.1</span><span
style='font-family:"微软雅黑","sans-serif"'>、视频过程中，内容出现关于政治相关的敏感信息、恶搞内容及恶意信息等。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'>2.4.2</span><span
style='font-family:"微软雅黑","sans-serif"'>、视频过程中，内容涉及违法国家法律法规的行为。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'>2.4.3</span><span
style='font-family:"微软雅黑","sans-serif"'>、视频过程中，有涉及毒品相关物品及一切与毒品相关的内容。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'>2.4.4</span><span
style='font-family:"微软雅黑","sans-serif"'>、视频过程中，出现各种形式的涉黄内容的。包括但不限于视频过程中，使用性爱相关用品或圆柱形自慰道具作为表演道具；出现色情互动内容，或极其暴露的直播表演；视频过程中，出现国外限制级影片，或成人视频内容；视频过程中，出现低俗游戏，性爱模仿，动作低俗等内容。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'>2.4.5</span><span
style='font-family:"微软雅黑","sans-serif"'>、视频过程中，出现各种血腥暴力等让人感到不适的内容。包括但不限于殴打、自残、砍人、虐待动物等内容。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
style='font-family:"微软雅黑","sans-serif"'>三、“链活”平台权利和义务<span lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
style='font-family:"微软雅黑","sans-serif"'>本规范为动态文档，我们有权根据相关法律法规或产品运营的需要对上述内容进行修改并更新，请您经常查看以便获得最新信息。本规范作为用户协议的补充，如有冲突以用户协议为准。<span
lang=EN-US><o:p></o:p></span></span></p>

<p class=MsoNormal align=left style='text-align:left;line-height:200%'><span
lang=EN-US style='font-family:"微软雅黑","sans-serif"'><o:p>&nbsp;</o:p></span></p>

</div>

</body>

</html>
